.landing-page-greeting {
  animation-delay: 6s; /* Set the delay before the animation starts */
  animation: fade-in 2s ease-in-out;
  color: black;
  font-size: 4rem;
  filter: grayscale(100%);
  transition: filter 6s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.landing-page-greeting:hover {
  filter: grayscale(0%);
}