.investment-container {
    text-align: center;
}

.advisor-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.add-new-investment-button {
    display: block;
    margin: 0 auto;
    /* Add this line to center the button */
    width: auto;
    background-color: green;
    padding: 5px 10px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.add-new-investment-button:hover {
    background-color: darkgreen;
}

.investment-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.investment-card {
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
}


.investment-card:hover {
    background-color: lightgrey;
}

.investment-details {
    margin-top: 20px;
}

.delete-investment-button {
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #dc3545;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-investment-button:hover {
    background-color: darkred;
}

.delete-policy-button,
.delete-documentation-button {
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #dc3545;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-policy-button:hover,
.delete-documentation-button:hover {
    background-color: #bd2130;
    opacity: 0.8;
}

.upload-documentation-button {
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: lightgoldenrodyellow;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s;
}

.upload-documentation-button:hover {
    background-color: #d9b832;
    opacity: 0.8;
}

@keyframes highlight-animation {
    0% {
        background-color: transparent;
        color: inherit;
    }

    25% {
        background-color: lightgreen;
        color: inherit;
    }

    50% {
        background-color: lightgreen;
        color: inherit;
    }

    100% {
        background-color: transparent;
        color: inherit;
    }
}

.investment-data.highlight-animation {
    animation: highlight-animation 2s;
    animation-fill-mode: forwards;
}