/* AdvisorPolicy.css */

.page-container {
  margin-top: 930px;
  padding: 20px;
}

.advisor-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.add-new-policy-button {
  margin-bottom: 20px;
  background-color: rgb(58, 158, 58);
}

.policy-list-container {
  display: flex;
  flex-wrap: wrap;
}

.policy-item {
  width: 20%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, .05);
  transition: background-color 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.policy-item .policy-section {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 4px;
}

.policy-item:hover {
  background-color: darkgray;
}

.policy-item header {
  margin-bottom: 10px;
}

.policy-item p {
  margin-bottom: 5px;
}

.policy-item button {
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #dc3545;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.policy-item button:hover {
  background-color: maroon;
  opacity: 0.8;
}

.policy-item a {
  color: #007bff;
  text-decoration: underline;
}

.policy-item a:hover {
  text-decoration: none;
}
