/* Products.css */
  
  .product-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 20px;
  }
  
  .add-new-product-button {
    margin-bottom: 20px;
    background-color: rgb(58, 158, 58);
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .product-item {
    width: 20%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, .05);
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .product-item .product-section {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 4px;
  }
  
  .product-item:hover {
    background-color:lightgrey;
  }
  
  .product-item header {
    margin-bottom: 10px;
  }
  
  .product-item p {
    margin-bottom: 5px;
  }
  
  .product-item button {
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #dc3545;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .product-item button:hover {
    background-color: maroon;
    opacity: 0.8;
  }
  
  .product-item a {
    color: #007bff;
    text-decoration: underline;
  }
  
  .product-item a:hover {
    text-decoration: none;
  }