.section--parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Center the content vertically */
  height: 50vh;
  /* Adjust the height to your preference */
}

.title,
.subtitle,
.greeting {
  display: block;
  margin: 0;
  /* Remove default margins */
}

.greeting {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
  font-size: 2rem;
  margin-top: 1rem;
  /* Adjust the top margin as needed */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.section {
  padding: 0;
}

.span-1 {
  text-decoration: underline;
  text-decoration-color: green;
  font-size: 6rem;
  /* Set the color of the underline for "Money" to green */
}

.span-2 {
  text-decoration: underline;
  text-decoration-color: yellow;
  font-size: 6rem;
  /* Set the color of the underline for "Honey" to yellow */
}

.subtitle {
  font-size: x-large;
  margin-top: 0.5rem;
  /* Adjust the top margin as needed */
}