/* customer-investments.css */

.investment-cards-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .investment-card {
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s;
    width: fit-content;
  }
  
  .investment-card:hover {
    background-color: rgba(211, 211, 211, 0.9);
  }
  
  .investment-details {
    margin-top: 20px;
  }
  
  .investment-header {
    font-weight: bold;
  }
  
  .investment-data {
    margin-left: 5px;
  }

  .customer-name {
    text-align: center;
  }
  