/* AdvisorDetail.css */

.customer-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.customer-policies {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.customer-policy {
  width: 20%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, .05);
  transition: background-color 0.3s;
}

.customer-policy:hover {
  background-color: #fff;
}

.customer-policy header {
  margin-bottom: 10px;
}

.customer-policy p {
  margin-bottom: 5px;
}

.customer-policy a {
  color: #007bff;
  text-decoration: underline;
}

.customer-policy a:hover {
  text-decoration: none;
}

.customer-advisor {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 600px;
}

.customer-advisor:hover {
  background-color: #fff;
  color: #000;
}

.customer-advisor__header {
  font-size: 24px;
  font-weight: bold;
}
