.page-container {
  padding: 20px;
  margin-bottom: 1200px;
}

.customer-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.customer-policies {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.customer-policy {
  width: 20%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, .05);
  transition: background-color 0.3s;
}

.customer-policy:hover {
  background-color: #fff;
}

.customer-policy header {
  margin-bottom: 10px;
}

.customer-policy p {
  margin-bottom: 5px;
}

.customer-policy a {
  color: #007bff;
  text-decoration: underline;
}

.customer-policy a:hover {
  text-decoration: none;
}
