/* NavBar.css */

.navbar {
    background-color: rgba(220, 220, 220, 0.8);
    /* Light grey transparent background */
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    /* Remove bullet points */
}

.navbar__locations {
    margin-right: 1rem;
}

.navbar__link {
    color: #333;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    transition: background-color 0.3s, color 0.3s;
    /* Add transition for both background-color and color */
    position: relative;
    /* Add relative positioning for hover animation */
}

.navbar__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color:white;
    transform: scaleX(0);
    transition: transform 0.3s;
    transform-origin: left;
}

.navbar__link:hover {
    background-color: darkgrey;
    /* Dark gray background on hover */
    color: #fff;
    /* White text color on hover */
}

.navbar__link:hover::after {
    transform: scaleX(1);
}