.navbar {
    background-color: #f5f5f5;
    padding: 10px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-burger {
    border: none;
    background-color: transparent;
}

.navbar-burger span {
    background-color: #000;
    display: block;
    height: 3px;
    margin-bottom: 5px;
    transition: background-color 0.2s;
    width: 25px;
}

.navbar-burger:hover span {
    background-color: #555;
}

.navbar-menu {
    background-color: #f5f5f5;
}

.navbar-start,
.navbar-end {
    display: flex;
    align-items: center;
    padding: 10px;
}

.navbar__item {
    margin-right: 10px;
}

.navbar__logout {
    margin-left: auto;
}

.navbar-menu.is-active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}