.container--login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border-color: 10px lightgreen;
}

.form--login {
    width: 400px;
    padding: 20px;
    background-color: rgb(234, 234, 234);
    border-radius: 8px;
    border-color: 1px lightgreen;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.form--login h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form--login h2 {
    text-align: center;
    margin-bottom: 10px;
}

.form--login fieldset {
    margin-bottom: 20px;
}

.form--login label {
    display: block;
    margin-bottom: 5px;
}

.form--login input[type="email"] {
    width: 100%;
    /* Adjusted width */
    max-width: 100%;
    padding: 10px;
    font-size: 16px;
    border: .5px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* Added box-sizing property */
}

.form--login button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.link--register {
    text-align: center;
    margin-top: 10px;
}

.link--register a {
    color: #007bff;
    text-decoration: underline;
}

.link--register a:hover {
    text-decoration: underline;
}

fieldset {
    border: none;
}
